/.phpunit.cache
/resources/graphql/github/schema.json
/resources/graphql/github/schema.graphql
/graphql.config.yml
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.secrets
.env
.env.backup
.env.deploy
.env*
!.env.template
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
/.php-cs-fixer.cache
